@charset "UTF-8";

body {
    background-color: rgb(233, 191, 137);
}

/* Coloca o main no centro da página */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

/* Configura fonte, espaçamento entre os spans e a borda da caixa */
span {
    font-size: 50px;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

#hora, #minuto, #segundo {
    background-color: #fff;
}